<template>
  <div>
    <BreadCrumb secondTitle="商品管理" thirdTitle="商品分类"></BreadCrumb>
    <el-card>
      <el-row>
        <el-col>
          <el-button type="primary" @click="showAddCateDialog">添加分类</el-button>
        </el-col>
      </el-row>

      <!-- 表格区域 -->
        <el-table
        :data="catelist"
        style="width: 100%;margin-bottom: 20px;"
        row-key="cat_id"
        border
        :tree-props="{children: 'children'}">
            <el-table-column
            prop="cat_name"
            label="分类名称"
            width="180">
            </el-table-column>
            <el-table-column
            label="是否有效"
            >
                <template slot-scope="scope">
                    <i class="el-icon-success" v-if="scope.row.cat_deleted === false" style="color:green"></i>
                    <i class="el-icon-error" v-else style="color:red"></i>
                </template>
            </el-table-column>
            <el-table-column
            label="排序"
            >
                <template slot-scope="scope">
                    <el-tag size="mini" v-if="scope.row.cat_level === 0">一级</el-tag>
                    <el-tag size="mini" type="success" v-else-if="scope.row.cat_level === 1">二级</el-tag>
                    <el-tag size="mini" type="warning" v-else>三级</el-tag>
                </template>
            </el-table-column>
            <el-table-column
            label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" icon="el-icon-edit" size="mini">编辑</el-button>
                    <el-button type="danger" icon="el-icon-delete" size="mini">删除</el-button>
                </template>
            </el-table-column>
  </el-table>

      <!-- 分页区域 -->
      <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="queryInfo.pagenum"
      :page-sizes="[3, 5, 10, 15]"
      :page-size="queryInfo.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      background>
      </el-pagination>
    </el-card>


    <!-- 添加分类对话框 -->
    <el-dialog
    title="添加分类"
    :visible.sync="addCateDialogVisible"
    width="50%"
    @close="addDialogClosed">
        <el-form ref="addCateFormRef" :model="addCateForm" :rules="addCateFormRules" label-width="80px">
            <el-form-item label="分类名称" prop = "cat_name">
                <el-input v-model="addCateForm.cat_name"></el-input>
            </el-form-item>
            <el-form-item label="父级分类">
                <!-- options制定数据源 -->
                <el-cascader
                v-model="selectedKeys"
                :options="parentCateList"
                :props="cascaderProps"
                @change="parentCateChanged"></el-cascader>
                </el-form-item>            
        </el-form>
        <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addCate">确 定</el-button>
                </span>
    </el-dialog>
  </div>
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb";
export default {
  data() {
    return {
        queryInfo:{
            type: 3,
            pagenum: 1,
            pagesize: 5
        },
        catelist: [],
        total:0,
        columns: [
            {
                label:'分类名称',
                prop:'cat_name'
            },
            {
                label:'是否有效',
                //当前使用自定义模板列
                type:'template',
                //所使用模板名称
                template:'isok'
            },
            {
                label:'排序',
                type:'template',
                template:'order'
            },
            {
                label:'操作',
                type:'template',
                template:'opt'
            }
        ],
        addCateDialogVisible:false,
        //添加分类的表单数据对象
        addCateForm:{
            cat_name:'',
            //父级分类的id
            cat_pid:0,
            //默认添加1级分类
            cat_level:0
        },
        //表单规则对象
        addCateFormRules:{
            cat_name:[
                { required:true ,message:'请输入分类名称' ,trigger:'blur'}
            ]
        },
        parentCateList:[],
        //级联原则器配置对象
        cascaderProps:{
            value: 'cat_id',
            label: 'cat_name',
            children: 'children',
            expandTrigger: 'hover'
        },
        //选中父级分类的id数组
        selectedKeys:[]
    };
  },
  created() {
      this.getCateList()
  },
  methods: {
      //获取商品分类数据
      async getCateList() {
          const { data:res } = await this.$axios.get('categories', { params: this.queryInfo })
          if(res.meta.status !== 200) return this.$message.error('获取商品分类失败!')
          this.catelist = res.data.result
          //为总数据条数赋值
          this.total = res.data.total
      },
      //监听pagesize改变
      handleSizeChange(newSize) {
          this.queryInfo.pagesize = newSize
          this.getCateList()
      },
      //监听pagenum的改变
      handleCurrentChange(newnum) {
          this.queryInfo.pagenum = newnum
          this.getCateList()
      },
      //显示CateDialog
      showAddCateDialog() {
          this.getParentCateList()
          this.addCateDialogVisible = true
      },
      //获取父级分类的数据列表
      async getParentCateList() {
          const { data:res } = await this.$axios.get('categories',{
              params: { type:2 }
          })
          if(res.meta.status !== 200) return this.$message.error('请求数据失败!')
          this.parentCateList = res.data
      },
      //选择项发生变化触发
      parentCateChanged() {
          //如果长度大于0说明选定父级分类
          if(this.selectedKeys.length > 0) {
              this.addCateForm.cat_pid = this.selectedKeys[this.selectedKeys.length -1]
              this.addCateForm.cat_level = this.selectedKeys.length
              return
          }
          else {
              this.addCateForm.cat_pid = 0,
              this.addCateForm.cat_level = 0
          }
      },
      //点击按钮，添加新的分类
      addCate(){
          this.$refs.addCateFormRef.validate(async valid => {
              if(!valid) return
              const { data:res } = await this.$axios.post('categories',this.addCateForm)
              if(res.meta.status !== 201) return this.$message.error('添加分类失败!')
              this.$message.success('添加分类成功!')
              this.getCateList()
              this.addCateDialogVisible = false
          })
      },
      //处理关闭对话框
      addDialogClosed() {
          this.$refs.addCateFormRef.resetFields()
          this.selectedKeys = [],
          this.addCateForm.cat_pid = 0
          this.addCateForm.cat_level = 0
      }
  },
  components: {
    BreadCrumb
  }
};
</script>

<style lang="less" scoped>
.treeTable {
    margin:15px 0 15px 0;
}
.el-cascader {
    width: 100%;
}
.el-cascader-menu {
    height:450px;
}

</style>