<template>
    <div>
        <!-- 面包屑导航区域 -->
        <BreadCrumb secondTitle="商品管理" thirdTitle="商品列表"></BreadCrumb>

        <!-- 卡片视图区域 -->
        <el-card>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-input placeholder="请输入内容" v-model="queryInfo.query" clearable @clear="getGoodsList">
                        <el-button slot="append" icon="el-icon-search" @click="getGoodsList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="goAddPage">添加商品</el-button>
                </el-col>
            </el-row>

            <!-- 表格区域 -->
            <el-table :data="goodsList">
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column prop="goods_name" label="商品名称" ></el-table-column>
                <el-table-column prop="goods_price" label="商品价格" width="90"></el-table-column>
                <el-table-column prop="goods_weight" label="商品分类" width="150"></el-table-column>
                <el-table-column prop="add_time" label="更新时间" width="150">
                    <template slot-scope="scope">
                        {{scope.row.add_time | dateFormat}}
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="140">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" icon="el-icon-edit" @click="goModPage(scope.row)"></el-button>
                        <el-button type="danger" size="mini" icon="el-icon-delete" @click="removeById(scope.row.goods_id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页区域 -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="queryInfo.pagenum"
            :page-sizes="[10, 15, 20]"
            :page-size="queryInfo.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            background>
            </el-pagination>
        </el-card>
    </div>  
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb";
export default {
    data() {
        return {
            //查询参数对象
            queryInfo:{
                query: '',
                pagenum: 1,
                pagesize: 10
            },
            total:0,
            goodsList:[]

        }
    },
    created() {
        this.getGoodsList()
    },
    methods: {
        //根据分页获取对应商品列表
        async getGoodsList() {
            const { data:res } = await this.$axios.get('goods',{params:this.queryInfo})
            if(res.meta.status !== 200) return this.$message.error('获取商品列表失败!')
            this.$message.success('获取商品列表成功!')
            this.goodsList = res.data.goods
            this.total = res.data.total
        },
        handleSizeChange(newSize) {
            this.queryInfo.pagesize = newSize
            this.getGoodsList()
        },
        handleCurrentChange(newpage) {
            this.queryInfo.pagenum = newpage
            this.getGoodsList()
        },
        removeById(id){
            this.$confirm('此操作将永久删除该商品, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).then(async () => {
                const { data:res } = await this.$axios.delete(`goods/${id}`)
                if(res.meta.status !== 200) return this.$message.error('删除商品失败!')
                this.$message.success('删除商品成功!')
                this.getGoodsList()
            })
        },
        goModPage(info) {
            console.log(info);
            this.$router.push({
                path:'/goods/modify',
                query: {
                    info
                }
            })
        },
        goAddPage() {
            this.$router.push('/goods/add')
        }
    },
    components: {
        BreadCrumb
    }


}
</script>

<style lang="less" scoped>
.el-pagination {
    margin-top: 30px;
}
</style>