<template>
    <div>
        <!-- 面包屑导航区域 -->
        <BreadCrumb secondTitle="商品管理" thirdTitle="修改商品"></BreadCrumb>

        <!-- 卡片视图区域 -->
        <el-card>
            <el-alert title="添加商品信息" type="info" center show-icon :closable="false"></el-alert>

            <!-- 进度条区域 -->
            <el-steps :space="200" :active="activeIndex-0" finish-status="success" align-center>
                <el-step title="基本信息"></el-step>
                <el-step title="商品图片"></el-step>
                <el-step title="商品内容"></el-step>
                <el-step title="完成"></el-step>
            </el-steps>

            <!-- Tab栏区域 -->
            <el-form :model="modForm" :rules="modFormRules" ref="modFormRef" label-width="100px" label-position="top">
                <el-tabs tab-position="left"  v-model="activeIndex" :before-leave="beforeTabChange" @tab-click="tabClicked">
                    <el-tab-pane label="基本信息" name="0">
                        <el-form-item label="商品名称" prop="goods_name">
                            <el-input v-model="modForm.goods_name"></el-input>
                        </el-form-item>
                        <el-form-item label="商品价格" prop="goods_price">
                            <el-input v-model="modForm.goods_price" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="商品数量" prop="goods_number">
                            <el-input v-model="modForm.goods_number" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="商品分类" prop="goods_number">
                            <el-cascader :options="cateList" :props="cateProps" 
                            v-model="modForm.goods_cat" @change="handleChange">
                            </el-cascader>
                        </el-form-item>
                    </el-tab-pane>
                    <el-tab-pane label="商品图片" name="1">
                        <el-upload
                        action="http://127.0.0.1:8888/api/private/v1/upload"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        list-type="picture"
                        :headers="headerObj"
                        :on-success="handleSuccess">
                            <el-button size="small" type="primary">点击上传</el-button>
                    </el-upload>
                    </el-tab-pane>
                    <el-tab-pane label="商品内容" name="2">
                        <!-- 富文本编辑器组件 -->
                        <quill-editor v-model="modForm.goods_introduce">

                        </quill-editor>
                        <el-button  type="primary" class="btn" @click="modGoods">修改商品</el-button>
                    </el-tab-pane>
                </el-tabs>
            </el-form>
            <el-dialog
            title="图片预览"
            :visible.sync="previewVisible"
            width="50%">
                <img :src="previewPath" alt="" class="image">
            </el-dialog>
        </el-card>
    </div>
  
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb"
export default {
    data() {
        return {
            activeIndex:'0',
            modForm:{
                goods_name: '',
                goods_price: 0,
                goods_number: 0,
                //商品属于的分类的数组
                goods_cat:[],
                pics:[],
                goods_introduce: '',
            },
            modFormRules:{
                goods_name:[
                    { required:true, message:'请输入商品名称', trigger:'blur'}
                ],
                goods_price:[
                    { required:true, message:'请输入商品价格', trigger:'blur'}
                ],
                goods_number:[
                    { required:true, message:'请输入商品数量', trigger:'blur'}
                ],
                goods_cat:[
                    { required:true, message:'请选择商品分类', trigger:'blur'}
                ]    
            },
            //商品分类列表
            cateList:[],
            //级联选择器配置对象
            cateProps:{
                label:'cat_name',
                value:'cat_id',
                children:'children',
                expandTrigger:'hover'
            },
            //图片上传的请求头
            headerObj: {
                Authorization:window.sessionStorage.getItem('token')
            },
            previewPath:'',
            previewVisible:false,
            goods_cat:''
        }
    },
    methods: {
        //获取所有商品分类数据
        async getCateList() {
            const { data:res } = await this.$axios.get('categories')
            if(res.meta.status !== 200) return this.$message.error('获取分类信息失败!')
            this.cateList = res.data
        },
        //选项变化时触发的函数
        handleChange() {
            if(this.modForm.goods_cat.length !== 3) {
                this.modForm.goods_cat = []
            }
        },
        beforeTabChange(activeName,oldActiveName) {
            if(oldActiveName === '0' && this.modForm.goods_cat.length !== 3) {
                this.$message.error('请先选择商品分类')
                return false
            }
        },
        async tabClicked() {
            //检测是不是进入动态参数界面
            
            
        },
        //点击图片预览
        handlePreview(file) {
            this.previewPath = file.response.data.url
            this.previewVisible = true
        },
        //处理移除操作
        handleRemove(file) {
            const filePath = file.response.data.tmp_path
            const index = this.modForm.pics.findIndex(item => {
                item.pic === filePath
            })
            console.log(this.modForm);
            this.modForm.pics.splice(index, 1)
            console.log(this.modForm)
        },
        //监听图片上传成功
        handleSuccess(response) {
            const picInfo = { pic:response.data.tmp_path}
            this.modForm.pics.push(picInfo)
            console.log(this.modForm);
        },
        //添加商品
        modGoods() {
            this.$refs.modFormRef.validate(async valid => {
                if(!valid) return this.$message.error('请填写必要的信息')
                this.goods_cat = this.modForm.goods_cat.join(',')

                const { data:res } = await this.$axios.post('modGoods',
                {
                    goods_name:this.modForm.goods_name,
                    goods_cat:this.goods_cat,
                    goods_price:this.modForm.goods_price,
                    goods_number:this.modForm.goods_number,
                    goods_introduce:this.modForm.goods_introduce,
                })
                if(res.meta.status !== 200) return this.$message.error('修改商品失败!')
                this.$message.success('修改商品成功!')
                this.$router.push('/goods')
            })
        },
        initialize() {
            let info = this.$route.query.info
            this.modForm.goods_name = info.goods_name
            this.modForm.goods_price = info.goods_price - 0
            this.modForm.goods_number = info.goods_number - 0
            this.modForm.goods_cat.push(351,383,396)
            this.modForm.goods_introduce = 'hhhhh'
        }
    },
    created() {
        this.initialize()  
        this.getCateList()
    },
    components: {
        BreadCrumb
    }

}
</script>

<style lang="less" scoped>
.el-checkbox {
    margin: 0 5px 0 0!important
}
.image {
    width:100%
}
.el-steps {
    justify-content: center;
}
.btn {
    margin-top: 15px;
}
.el-card {
    min-height: 625px;
}
</style>