<template>
    <div>
        <BreadCrumb secondTitle="商品管理" thirdTitle="参数列表"></BreadCrumb>

        <!-- 卡片视图区域 -->
        <el-card>

            <!-- 警告区域 -->
            <el-alert
            title="注意！只允许为第三级分类选取参数"
            type="warning"
            show-icon
            :closable="false">
            </el-alert>

            <!-- 选择商品分类区域 -->
            <el-row class="cat_opt">
                <el-col>
                    <span>选择商品分类：</span>
                    <!-- 选择商品级联选择框 -->
                    <el-cascader
                    v-model="selectedCateKeys"
                    :options="cateList"
                    :props="cateProps"
                    @change="handleChange"></el-cascader>
                </el-col>
            </el-row>


            <!-- Tab页签区域 -->
            <el-tabs v-model="activeName" @tab-click="handleTabClick">
                <!-- 添加动态参数 -->
                <el-tab-pane label="动态参数" name="many">
                    <el-button type="primary" size="mini" :disabled="isBtnDisabled" @click="addDialogVisible = true">添加参数</el-button>
                    <el-table :data="manyTableData">
                        <!-- 索引列 -->
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <!-- 循环渲染Tag标签 -->
                                <el-tag v-for="(item,index) in scope.row.attr_vals" :key="index" closable @close="handleClose(index,scope.row)">
                                    {{item}}
                                </el-tag>
                                <el-input
                                class="input-new-tag"
                                v-if="scope.row.inputVisible"
                                v-model="scope.row.inputValue"
                                ref="saveTagInput"
                                size="small"
                                @keyup.enter.native="handleInputConfirm(scope.row)"
                                @blur="handleInputConfirm(scope.row)"
                                >
                                </el-input>
                                <el-button v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column type="index" label="#"></el-table-column>
                        <el-table-column label="参数名称" prop="attr_name"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditDialog(scope.row.attr_id)">编辑</el-button>
                                <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeParams(scope.row.attr_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <!-- 添加静态属性 -->
                <el-tab-pane label="静态属性" name="only">
                    <el-button type="primary" size="mini" :disabled="isBtnDisabled" @click="addDialogVisible = true">添加属性</el-button>
                    <el-table :data="onlyTableData">
                        <!-- 索引列 -->
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <!-- 循环渲染Tag标签 -->
                                <el-tag v-for="(item,index) in scope.row.attr_vals" :key="index" closable @close="handleClose(index,scope.row)">
                                    {{item}}
                                </el-tag>
                                <el-input
                                class="input-new-tag"
                                v-if="scope.row.inputVisible"
                                v-model="scope.row.inputValue"
                                ref="saveTagInput"
                                size="small"
                                @keyup.enter.native="handleInputConfirm(scope.row)"
                                @blur="handleInputConfirm(scope.row)"
                                >
                                </el-input>
                                <el-button v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column type="index" label="#"></el-table-column>
                        <el-table-column label="属性名称" prop="attr_name"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditDialog(scope.row.attr_id)">编辑</el-button>
                                <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeParams(scope.row.attr_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </el-card>

        <!-- 添加参数对话框 -->
        <el-dialog
        :title="'添加' + titleText"
        :visible.sync="addDialogVisible"
        width="50%"
        @close="addDialogClosed">
            <!-- 添加参数对话框 -->
            <el-form :model = "modForm" :rules = "modFormRules" ref="modFormRef" label-width="80px">
                <el-form-item :label="titleText" prop="attr_name">
                    <el-input v-model="modForm.attr_name"></el-input>
                </el-form-item>   
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addParams">确 定</el-button>
                </span>
        </el-dialog>


        <!-- 修改参数对话框 -->
        <el-dialog
        :title="'修改' + titleText"
        :visible.sync="editDialogVisible"
        width="50%"
        @close="editDialogClosed">
            <!-- 添加参数对话框 -->
            <el-form :model = "editForm" :rules = "editFormRules" ref="editFormRef" label-width="80px">
                <el-form-item :label="titleText" prop="attr_name">
                    <el-input v-model="editForm.attr_name"></el-input>
                </el-form-item>   
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editParams">确 定</el-button>
                </span>
        </el-dialog>
    </div>
  
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb"
export default {
    data() {
        return {
            editForm:{
                attr_name:''
            },
            editFormRules: {
                attr_name:[
                    { required:true , message:'请输入参数名称' ,trigger: 'blur'}
                ]
            },
            modForm: {
                attr_name:''
            },
            modFormRules: {
                attr_name:[
                    { required:true , message:'请输入参数名称' ,trigger: 'blur'}
                ]
            },
            cateList:[],
            cateProps:{
                value:'cat_id',
                label:'cat_name',
                children:'children',
                expandTrigger:'hover'
            },
            //级联选择框双向绑定的数组
            selectedCateKeys:[],
            activeName:'many',
            //动态参数数据
            manyTableData:[],
            //静态参数数据
            onlyTableData:[],
            //控制添加参数对话框
            addDialogVisible:false,
            editDialogVisible:false,
            //控制添加文本框的显示
            inputVisible:false,
            //文本框的数据
            inputValue:''

        }
    },
    created() {
        this.getCateList()

    },
    computed:{
        isBtnDisabled() {
            if(this.selectedCateKeys.length !== 3) {
                return true
            }
            return false
        },
        cateId() {
            if(this.selectedCateKeys.length === 3) {
                return this.selectedCateKeys[2]
            }
            return null
        },
        titleText() {
            if(this.activeName === 'many') return '动态参数'
            else return '静态属性'
        }
    },
    methods:{
        async getCateList() {
            const { data:res } = await this.$axios.get('categories')
            if(res.meta.status !== 200) this.$message.error('获取分类参数失败！')
            this.cateList = res.data
        },
        handleChange() {
            this.getParamsData()
        },
        //Tabs页签点击事件的处理函数
        handleTabClick() {
            this.getParamsData()
        },
        async getParamsData() {
            //检测是否被选中的是三级分类
            if(this.selectedCateKeys.length !== 3){
                this.selectedCateKeys = []
                //选择两项时不显示表格
                this.manyTableData = []
                this.onlyTableData = []
                return
            }
            // 获取对应的参数
            const { data:res } = await this.$axios.get(`categories/${this.cateId}/attributes`,{
                params:{ sel: this.activeName}
            })
            if(res.meta.status !== 200) return this.$message.error('获取参数失败')

            res.data.forEach( item => {
                item.attr_vals = item.attr_vals ? item.attr_vals.split(' ') : []
                //控制文本框显示隐藏
                item.inputVisible = false
                //文本框的值
                item.inputValue = ''
            })
            console.log(res.data)
            if(this.activeName === 'many') {
                this.manyTableData = res.data
                console.log(this.manyTableData)
            }
            else {
                this.onlyTableData = res.data
            }
        },
        addDialogClosed() {
            this.$refs.modFormRef.resetFields()
        },
        editDialogClosed() {
            this.$refs.editFormRef.resetFields()
        },
        addParams() {
            this.$refs.modFormRef.validate(async valid => {
                if(!valid) return
                const { data:res } = await this.$axios.post(`categories/${this.cateId}/attributes`,{
                    attr_name:this.modForm.attr_name,
                    attr_sel:this.activeName
                })
                if(res.meta.status !== 201) return this.$message.error('添加参数失败!')
                this.$message.success('添加参数成功!')
                this.addDialogVisible = false
                this.getParamsData()
            })
        },
        editParams() {
            this.$refs.editFormRef.validate(async valid => {
                if(!valid) return
                const {data:res} = await this.$axios.put(`categories/${this.cateId}/attributes/${this.editForm.attr_id}`,{
                    attr_name:this.editForm.attr_name,
                    attr_sel:this.activeName
                })
                if(res.meta.status !== 200) return this.$message.error('修改参数失败')
                this.$message.success('修改参数成功!')
                this.editDialogVisible = false
                this.getParamsData()
            })
        },
        async showEditDialog(id) {
            const { data:res } = await this.$axios.get(`categories/${this.cateId}/attributes/${id}`,
            {
                params:{ attr_sel: this.activeName}
            })
            if(res.meta.status !== 200) return this.$message.error('获取参数信息失败!')
            this.editForm = res.data
            this.editDialogVisible = true
        },
        // 根据id删除对应项
        removeParams(id) {
            this.$confirm('此操作将永久删除该参数, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).then(async () => {
                const { data:res } = await this.$axios.delete(`categories/${this.cateId}/attributes/${id}`)
                if(res.meta.status !== 200) return this.$message.error('删除参数失败!')
                this.$message.success('删除参数成功!')
                this.getParamsData()
            })
        },
        //文本框失去焦点或者按下Enter触发
        async handleInputConfirm(row) {
            if(row.inputValue.trim().length === 0){
                row.inputValue = '',
                row.inputVisible = false
                return
            }
            //需要后续处理发请求
            row.attr_vals.push(row.inputValue.trim())
            row.inputValue = '',
            row.inputVisible = false
            this.saveAttributes(row)
        },
        showInput(row) {
            row.inputVisible = true
            //文本框自动获得焦点
            //$nextTick,当页面上元素重新渲染后，才会运行指定回调
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },
        //处理关闭tag
        handleClose(index,row) {
            row.attr_vals.splice(index,1),
            this.saveAttributes(row)            
        },
        async saveAttributes(row) {
            console.log(row.attr_sel)
            //需要发起请求，保存操作
            const { data:res } = await this.$axios.put(`categories/${this.cateId}/attributes/${row.attr_id}`,
            {
                attr_name:row.attr_name,
                attr_sel:row.attr_sel,
                attr_vals:row.attr_vals.join(' ')
            })
            if(res.meta.status !== 200) return this.$message.error('修改参数项失败!')
            this.$message.success('修改参数项成功!')
        }

    },
    components:{
        BreadCrumb
    }

}
</script>

<style lang="less" scoped>
.cat_opt {
    margin:15px 0 15px 0;
}
.el-tag {
    margin:10px;
}
.input-new-tag {
    width: 120px;
}

</style>