<template>
    <div>
        <BreadCrumb secondTitle="失物招领" ></BreadCrumb>
        <el-card>
            <el-row>
                <el-button type="primary" @click="addVisible = true">添加失物</el-button>
            </el-row>
            <el-table :data="lostList" style="width: 100%">
                <el-table-column type="index" label="#" ></el-table-column >
                <el-table-column prop="date" label="日期" >
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="失主"
                        >
                </el-table-column>
                <el-table-column
                        prop="desc"
                        label="描述"
                        >
                </el-table-column>
                <el-table-column label="图片">
                    <template slot-scope="scope">
                        <img src="./logo.png" alt="" width="100px" height="100px">
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" @click="changeInfo(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="del(scope.row.id)" >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页区域 -->
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="queryInfo.pagenum"
            :page-sizes="[10, 15, 20]"
            :page-size="queryInfo.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            background>
            </el-pagination>
        </el-card>

        <!-- Add Form -->
        <el-dialog title="失物招领" :visible.sync="addVisible" center width="800px">
            <el-form :model="addForm" class="formStyle" :rules="rules" style="width:60%">
                <el-form-item label="日期:" label-width="60px" >
                    <el-date-picker
                        v-model="addForm.date"
                        type="date"
                        placeholder="选择日期"
                        readonly>
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="失主:" label-width="60px" prop="name">
                    <el-input v-model="addForm.name" autocomplete="off" placeholder="请输入失主名字"></el-input>
                </el-form-item>
                <el-form-item label="描述:" label-width="60px" prop="desc">
                    <el-input v-model="addForm.desc" autocomplete="off"  type="textarea" placeholder="请描述物品情况（地点，时间etc）"></el-input>
                </el-form-item>
                <el-form-item label="图片:" label-width="60px" prop="pic">
                    <el-upload
                        class="avatar-uploader"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :show-file-list="false"
                        :on-success="handleAddSuccess"
                    >
                        <img v-if="addUrl" :src="addUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addVisible = false">取 消</el-button>
                <el-button type="primary" @click="addVisible = false">确 定</el-button>
            </div>
        </el-dialog>

        <!-- Modify Form -->
        <el-dialog title="失物招领" :visible.sync="changeVisible" center width="800px">
            <el-form :model="changeForm" class="formStyle" :rules="rules" style="width:60%">
                <el-form-item label="日期:" label-width="60px" >
                    <el-date-picker
                        v-model="changeForm.date"
                        type="date"
                        placeholder="选择日期"
                        readonly>
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="失主:" label-width="60px" prop="name">
                    <el-input v-model="changeForm.name" autocomplete="off" placeholder="请输入失主名字"></el-input>
                </el-form-item>
                <el-form-item label="描述:" label-width="60px" prop="desc">
                    <el-input v-model="changeForm.desc" autocomplete="off"  type="textarea" placeholder="请描述物品情况（地点，时间etc）"></el-input>
                </el-form-item>
                <el-form-item label="图片:" label-width="60px" prop="pic">
                    <el-upload
                        class="avatar-uploader"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :show-file-list="false"
                        :on-success="handleAddSuccess"
                    >
                        <img v-if="changeUrl" :src="changeUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="changeVisible = false">取 消</el-button>
                <el-button type="primary" @click="changeVisible = false">确 定</el-button>
            </div>
        </el-dialog>

    </div>
  
</template>

<script>
import BreadCrumb from '../../components/BreadCrumb'
export default {
    data() {
        return {
            queryInfo:{
                query: '',
                pagenum: 1,
                pagesize: 10
            },
            total:100,
            addForm: {
                name:'',
                desc:'',
                date:new Date(),
            },
            changeForm: {
                name:'',
                desc:'',
                date:'',
                url:'',
            },
            addUrl: '',
            changeUrl: '',
            changeVisible: false,
            addVisible: false,
            lostList: [
                {
                    id: 1,
                    name: '钟意',
                    desc: '哈哈哈哈',
                    imgUrl: '',
                    date: '2017-01-01'
                },
                {
                    id: 2,
                    name: '钟意',
                    desc: '哈哈哈哈',
                    imgUrl: '',
                    date: '2017-01-01'
                },
                {
                    id: 3,
                    name: '钟意',
                    desc: '哈哈哈哈',
                    imgUrl: '',
                    date: '2017-01-01'
                },
            ],
            rules:{
                name:[
                    { required: true, message: '请输入失主姓名', trigger: 'change' }
                ],
                desc:[
                    { required: true, message: '请描述失物状况', trigger: 'change' }
                ],
                pic:[
                    { required: true, message: '请选择图片', trigger: 'change' }
                ]
            }
        }
    },
    methods: {
        getLostList() {

        },
        handleSizeChange(newSize) {
            this.queryInfo.pagesize = newSize
            this.getLostList()
        },
        handleCurrentChange(newpage) {
            this.queryInfo.pagenum = newpage
            this.getLostList()
        },
        handleAddSuccess(res) {
            this.addUrl = res.data.tmp_path
        },
        changeInfo(info) {
            this.changeUrl = './logo.png'
            this.changeForm = info
            this.changeVisible = true
        },
        del(id) {
            let index = this.lostList.findIndex( item => {
                return item.id === id
            })
            console.log(index)
            this.lostList.splice(index,1)
            this.$message({
                message: '删除成功！',
                type: 'success'
            });
        }
    },
    components: {
        BreadCrumb
    }
}
</script>

<style>
.el-dialog__body {
    display: flex;
    justify-content: center;
}
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-icon-plus:before {
      line-height: 178px;
  }
  .el-pagination {
    margin-top: 30px;
}
</style>