/* 全局样式表 */
html,
body,
#app {
    height:100%;
    margin: 0;
    padding: 0;
    min-width: 1370px;
}
.el-breadcrumb {
    margin-bottom: 15px;
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-table th.gutter {
    display: table-cell !important;
}
.el-cascader-menu {
    height:400px;
}
.el-steps {
    margin: 20px 0;
}
.el-step__title {
    font-size: 12px;
}
.ql-editor {
    min-height: 300px;
}