<template>
    <el-container class= "home-container">
        <el-header >
            <div>
                <!-- <img src="../assets/brand.png" alt="" width="80px"> -->
                <span>安生超市管理系统</span>
            </div>
            <el-button type = "info" @click = "loginOut">退出</el-button>
        </el-header>
        <el-container>
            <el-aside :width="isCollapse ? '64px' :'200px'">
                <div class="toggle-button" @click="toggleCollapse">|||</div>
                <el-menu
                background-color="#333744"
                text-color="#fff"
                active-text-color="#409EFF"
                :unique-opened="true"
                :collapse="isCollapse"
                :collapse-transition="false"
                :router="true"
                :default-active="$route.path">
                <!-- 一级菜单 -->
                <el-submenu :index="item.id + ''" v-for="item in menulist" :key = "item.id">
                    <template slot="title">
                        <i :class="iconsObject[item.id + '']"></i>
                        <span>{{item.authName}}</span>
                    </template>

                    <!-- 二级菜单 -->
                    <el-menu-item :index="'/' + subItem.path" v-for="subItem in item.children" :key = "subItem.id">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>{{subItem.authName}}</span>
                        </template>
                    </el-menu-item>
                    

                </el-submenu>
    </el-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>   
</template>

<script>
export default {
    created() {
        this.getMenuList()
    },
    data() {
        return {
            menulist: [],
            iconsObject: {
                '125': 'iconfont icon-user',
                '103': 'iconfont icon-tijikongjian',
                '101': 'iconfont icon-shangpin',
                '102': 'iconfont icon-danju',
                '145': 'iconfont icon-baobiao'
            },
            isCollapse: false,

        }
    },
    methods: {
        loginOut () {
            window.sessionStorage.clear()
            this.$router.push('/login')
        },
        async getMenuList() {
            const {data:res} = await this.$axios.get('menus')
            if(res.meta.status != 200) return this.$message.error(res.meta.msg)
            this.menulist = res.data
            console.log(res)
        },
        // 缩放导航栏
        toggleCollapse() {
            this.isCollapse = !this.isCollapse
        }
    }

}
</script>

<style lang="less" scoped>
.el-header {
    background-color: #373d41;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    align-items: center;
    color: white;
    font-style: 20px;
    span {
        margin-left: 25px;
    }
}
.el-aside {
    background-color: #333744;
    .el-menu {
        border-right: none;
    }
}
.el-main {
    background-color: #EAEDF1;
}
.home-container {
    height: 100%;
}
.iconfont {
    margin-right:10px;
}
.toggle-button {
    background-color: #4a5064;
    color:white;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    cursor: pointer;
}

</style>