<template>
  <div class = "login_container">
      <div class = "login_box">
        <!-- 头像区域 -->
        <div class="title">
          安升超市管理系统
        </div>
        <!-- 登录表单 -->
        <el-form ref="loginFormRef" class = "login_form" :model="loginForm" :rules="loginFormRules">
          <!-- 用户名 -->
          <el-form-item prop="username">
            <el-input prefix-icon="iconfont icon-user" v-model="loginForm.username"></el-input>
          </el-form-item>
          <!-- 密码 -->
          <el-form-item prop="password">
            <el-input prefix-icon="iconfont icon-3702mima" v-model="loginForm.password" type="password"></el-input>
          </el-form-item>
          <!-- 按钮区域 -->
          <el-form-item class = "btns">
            <el-button type="primary" @click="login">登录</el-button>
            <el-button type="info" @click="resetLoginForm">重置</el-button>
          </el-form-item>
        </el-form>
      </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      //登录表单
      loginForm:{
        username:'',
        password:''
      },
      loginFormRules:{
        //验证用户名是否合法
        username:[
          { required :true, message: '请输入用户名' , trigger: 'blur'},
          { min: 3, max :10, message: '长度在3-10个字符之间' , trigger: 'blur'}
        ],
        //验证密码是否合法
        password:[
          { required :true, message: '请输入密码' ,trigger: 'blur'},
          { min: 6, max :15, message: '长度在6-15个字符之间' , trigger: 'blur'}
        ]
      }
    }
  },
  methods: {
    resetLoginForm() {
      this.$refs.loginFormRef.resetFields()
    },
    login() {
      this.$refs.loginFormRef.validate(async valid => {
        if(!valid) return
        const {data: res} = await this.$axios.post('login',this.loginForm)
        if(res.meta.status != 200) return this.$message.error('登陆失败！')
        console.log(res)
        //sessionStorage存储token
        //编程式导航跳转相应页面
        window.sessionStorage.setItem('token',res.data.token)
        this.$message.success('登陆成功！')
        this.$router.push('/home')
        
      })
    }
  }

}
</script>

<style lang="less" scoped>
.login_container {
  position:relative;
  background-image: linear-gradient( 94.3deg, rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1%);
  height: 100%;
  width: 100%;
}
.login_container::before {
  position: absolute;
  content: "";
  z-index:2;
  width:450px;
  height: 450px;
  top:50%;
  left: 50%;
  transform: translate(-100%, -80%);
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
  animation: pulse 1.5s infinite;
}
.login_container::after {
  position: absolute;
  content: "";
  z-index:2;
  width:300px;
  height: 300px;
  top:50%;
  left: 50%;
  transform: translate(10%, 20%);
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52% , #2BFF88 90%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
  animation: pulse 1.6s infinite;
}
.login_box {
  position: absolute;
  z-index: 3;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:320px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:0 20px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  .el-input {
    background-color: transparent;
  }
  
}
.title {
  margin-top: 50px;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.el-input__inner {
    background-color: transparent!important;
  }

.btns {
  display: flex;
  justify-content: flex-end;
}

.login_form {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:0 20px;
  box-sizing: border-box;
}
@keyframes pulse {
  50% {
    box-shadow: 0 0 0 50px rgba(255,255,255,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
</style>