<template>
    <div>
        <BreadCrumb secondTitle="数据统计" thirdTitle="数据报表"></BreadCrumb>
        <el-card>
            <el-tabs v-model="active">
                <el-tab-pane label="用户管理" name="first">
                    <div ref="pic1" style="width: 1000px; height: 600px"></div>
                </el-tab-pane>
                <el-tab-pane label="商品库存" name="second">
                    <div>
                        <el-select v-model="select" placeholder="请选择商品">
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    
                        <div ref="pic2" style="width: 1000px; height: 600px"></div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="商品分佈" name="third">
                    <div ref="pic3" style="width: 1000px; height: 600px"></div>
                </el-tab-pane>
            </el-tabs>
        </el-card>
    </div>
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb";
import echarts from "echarts";
export default {
    data() {
        return {
            select: '选项1',
            barchart: '',
            options: [{
                    value: '选项1',
                    label: '黄金糕'
                    }, {
                    value: '选项2',
                    label: '双皮奶'
                    }, {
                    value: '选项3',
                    label: '蚵仔煎'
                    }, {
                    value: '选项4',
                    label: '龙须面'
                    }, {
                    value: '选项5',
                    label: '北京烤鸭'
                    }
            ],
            
            active: "first",
            lineOption: {
                title: {
                    text: "门店销量",
                    left: "center"
                },
                color: ["#F56C6C", "#409EFF"],
                xAxis: {
                    type: "category",
                    data: ["1月", "2月", "3月", "4月", "5月", "6月", "7月"]
                },
                legend: {
                    data: ["北区", "南区"],
                    right: '10%'
                },
                yAxis: {
                    type: "value"
                },
                series: [
                    {
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        name: "北区",
                        type: "line",
                        smooth: true
                    },
                    {
                        data: [620, 1511, 731, 1994, 1090, 1530, 1220],
                        type: "line",
                        name: "南区",
                        smooth: true
                    }
                ]
            },
            barOption: {
                title: {
                    text: "商品七日库存",
                    left: "center"
                },
                color: ["#3398DB"],
                tooltip: {
                    trigger: "axis",
                    axisPointer: {
                        type: "shadow"
                    }
                },
                xAxis: {
                    type: "category",
                    data: []
                },
                yAxis: {
                    type: "value"
                },
                series: [
                    {
                        name: "每日进账",
                        data: [1200, 2000, 1500, 800, 700, 1100, 1300],
                        type: "bar",
                        barWidth: "35%",
                        itemStyle: {
                            barBorderRadius: 5
                        }
                    }
                ]
            },
            pieOption: {
                color: [
                    "#006cff",
                    "#60cda0",
                    "#ed8884",
                    "#ff9f7f",
                    "#0096ff",
                    "#9fe6b8",
                    "#32c5e9",
                    "#1d9dff"
                ],
                title: {
                    text: "销售商品分类图",
                    left: "center"
                },
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    left: "center",
                    top: "bottom",
                    data: [
                        "rose1",
                        "rose2",
                        "rose3",
                        "rose4",
                        "rose5",
                        "rose6",
                        "rose7",
                        "rose8"
                    ]
                },
                series: [
                    {
                        name: "订单分布",
                        type: "pie",
                        radius: ["10%", "70%"],
                        center: ["50%", "50%"],
                        roseType: "radius",
                        data: [
                            { value: 30, name: "食品" },
                            { value: 28, name: "小吃" },
                            { value: 26, name: "日用品" },
                            { value: 24, name: "小吃1" },
                            { value: 22, name: "小吃2" },
                            { value: 20, name: "小吃3" },
                            { value: 18, name: "小吃4" },
                            { value: 16, name: "小吃5" }
                        ]
                    }
                ]
            }
        };
    },
    created() {
        this.createRecent();
    },
    async mounted() {
        let lineChart = echarts.init(this.$refs.pic1);
        let barChart = echarts.init(this.$refs.pic2);
        this.barchart = barChart
        let pieChart = echarts.init(this.$refs.pic3);
        barChart.setOption(this.barOption);
        pieChart.setOption(this.pieOption);
        const { data: res } = await this.$axios.get("reports/type/1");
        if (res.meta.status !== 200)
            return this.$message.error("获取数据失败!");
        const result = { ...this.options, ...res.data };
        console.log((result.xAxis[0].boundaryGap = false));
        lineChart.setOption(this.lineOption);
    },
    watch: {
        select(val,old) {
            this.barOption.series[0].data = [parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800),parseInt(Math.random()*700 + 800)]
            this.barchart.setOption(this.barOption);
        }
    },
    methods: {
        createRecent() {
            for (let i = 6; i >= 0; i--) {
                let date = this.$moment()
                    .subtract(i, "d")
                    .format("MM月DD日");
                this.barOption.xAxis.data.push(date);
            }
        }
    },
    components: {
        BreadCrumb
    }
};
</script>

<style lang="less" scoped>
.el-tab-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>