<template>
  <div>
      <BreadCrumb secondTitle="权限管理" thirdTitle="权限列表"></BreadCrumb>
      <el-card>
          <el-table :data="rightsList" border >
            <el-table-column type="index" label="#" ></el-table-column >
            <el-table-column prop="authName" label="权限名称" ></el-table-column>
            <el-table-column prop="path" label="路径" ></el-table-column>
            <el-table-column prop="level" label="权限等级">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.level == 0">一级权限</el-tag>
                    <el-tag type="success" v-else-if="scope.row.level == 1">二级权限</el-tag>
                    <el-tag type="warning" v-else>三级权限</el-tag>
                </template>
            </el-table-column>
          </el-table>
      </el-card>
  </div>
</template>

<script>
import BreadCrumb from '../../components/BreadCrumb'
export default {
    data () {
        return {
            //权限列表
            rightsList:[]
        }
    },
    created() {
        this.getRightsList()
    },
    methods: {
        //获取权限列表
        async getRightsList() {
            const { data:res } = await this.$axios.get('rights/list')
            if(res.meta.status != 200) return this.$message.error('获取权限列表失败!')
            this.rightsList = res.data
            console.log(this.rightsList)
        }
    },
    components: {
        BreadCrumb
    }

}
</script>

<style lang="less" scoped>

</style>