<template>
    <div>
        <BreadCrumb secondTitle="权限管理" thirdTitle="角色列表"></BreadCrumb>
        <!-- 卡片视图 -->
        <el-card>
            <el-row>
                <el-col :span="4">
                    <el-button type="primary" @click="addRole">添加角色</el-button>
                </el-col>
            </el-row>
            <!-- 角色列表 -->
            <el-table :data="rolelist" border stripe>
                <el-table-column type="expand" >
                    <template slot-scope="scope">
                        <el-row :class="['bdbottom', 'vcenter', i1===0 ? 'bdtop' : '']" v-for="(item1,i1) in scope.row.children" :key="item1.id">
                            <!-- 渲染一级权限 -->
                            <el-col :span="5">
                                <el-tag @close="removeRightById(scope.row,item1.id)" closable>{{item1.authName}}</el-tag>
                                <i class="el-icon-caret-right"></i>
                            </el-col>
                            <!-- 渲染二级以上权限 -->
                            <el-col :span="19">
                                <el-row v-for="(item2,i2) in item1.children" :key="item2.id" :class="['vcenter',i2 !== 0 ? 'bdtop' : '']">
                                    <el-col :span="6">
                                        <el-tag type="success" @close="removeRightById(scope.row,item2.id)" closable>{{item2.authName}}</el-tag>
                                        <i class="el-icon-caret-right"></i>
                                    </el-col>
                                    <el-col :span="18">
                                            <el-tag @close="removeRightById(scope.row,item3.id)" closable type="warning" v-for="item3 in item2.children" :key="item3.id">
                                                {{item3.authName}}
                                            </el-tag>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </template>
                </el-table-column>
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column prop="roleName" label="角色名称"></el-table-column>
                <el-table-column prop="roleDesc" label="角色描述"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary" icon="el-icon-edit" size="mini">编辑</el-button>
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="deleteRole(scope.row)">删除</el-button>
                        <el-button type="warning" icon="el-icon-setting" size="mini" @click="showSetRightDialog(scope.row)">分配权限</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>


        <!-- 分配权限对话框 -->
        <el-dialog title="提示" :visible.sync="setRightDialogVisible" width="50%" @close="setRightDialogClosed">
            <!-- 树形控件 -->
            <el-tree ref="treeRef" :data="rightslist" :props="treeProps" show-checkbox node-key="id"
            default-expand-all :default-checked-keys="defKeys"></el-tree>
            <span slot="footer" class="dialog-footer">
                <el-button @click="setRightDialogVisible = false">取 消</el-button>
                <el-button type="primary"  @click="allotRights">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog title="增加角色" :visible.sync="dialogFormVisible" >
            <el-form :model="form">
                <el-form-item label="角色名称" label-width="100px" style="width:500px">
                    <el-input v-model="form.roleName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色描述" label-width="100px" style="width:500px">
                    <el-input
                        type="textarea"
                        :rows="2"
                        placeholder="请输入内容"
                        v-model="form.roleDesc">
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addRoles()">确 定</el-button>
            </div>
            </el-dialog>
    </div> 
</template>

<script>
import BreadCrumb from '../../components/BreadCrumb'
export default {
    data() {
        return {
            dialogFormVisible:false,
            form: {
                roleName:'',
                roleDesc:''
            },
            //所有角色列表数据
            rolelist:[],
            //控制分配权限对话框显示与展示
            setRightDialogVisible:false,
            rightslist:[],
            //树形控件属性绑定对象
            treeProps: {
                label:'authName',
                children:'children'
            },
            //默认选中的节点id数组
            defKeys:[],
            //即将被分配权限的角色id
            roleId:''
        }
    },
    created() {
        this.getRoleList()
    },
    components:{
        BreadCrumb
    },
    methods: {
        async getRoleList() {
            const { data:res } = await this.$axios.get('roles')
            if(res.meta.status != 200) return this.$message.error('获取角色列表失败!')
            this.rolelist = res.data
        },
        async showSetRightDialog(role) {
            //获取所有权限的数据
            this.roleId = role.id
            const { data:res } = await this.$axios.get('rights/tree')
            if(res.meta.status !== 200) return this.$message.error('获取权限数据失败')
            this.rightslist = res.data
            this.getLeafKeys(role,this.defKeys)
            this.getRoleList()
            this.setRightDialogVisible = true  
        },
        async addRoles() {
            const { data:res } = await this.$axios.post('roles',this.form)
            if(res.meta.status !== 201) return  this.$message.error('获取角色数据失败')
            this.getRoleList()
            this.dialogFormVisible = false
        },
        addRole() {
            this.dialogFormVisible = true
        },
        async deleteRole(role) {
            const { data:res } = await this.$axios.delete(`roles/${role.id}`)
            if(res.meta.status !== 200) return this.$message.error('删除失败')
            this.getRoleList()
        },
        //通过递归获取所有的三级权限id,保存进defKeys中
        getLeafKeys(node,arr) {
            //不包括children属性，就是是三级权限
            if(!node.children) {
                return arr.push(node.id)
            }
            node.children.forEach(item => {
                this.getLeafKeys(item,arr)
            });
        },
        setRightDialogClosed() {
            this.defKeys = []
        },
        async allotRights() {
              const keys = [...this.$refs.treeRef.getCheckedKeys(),
              this.$refs.treeRef.getHalfCheckedKeys()
            ]
            const idStr = keys.join(',')
            console.log(111)
            const { data:res} = await this.$axios.post(`roles/${this.roleId}/rights`,{
                rids:idStr
            })
            if(res.meta.status !== 200) return this.$message.error('修改用户权限失败!')
            this.$message.success('修改用户权限成功!')
            this.setRightDialogVisible = false
        },
        removeRightById(role,rightId) {
            //弹框提示用户是否删除
            this.$confirm('确认删除权限？是否继续?','提示',{
                confirmButtonText:'确定',
                cancelButtonText:'取消',
                type:'warning'
            }).then(async ()=>{
                const { data:res } = await this.$axios.delete(`roles/${role.id}/rights/${rightId}`)
                if(res.meta.status !== 200) return this.$message.error('删除权限失败!')
                role.children = res.data
                this.$message.success('删除成功!')
            }).catch(()=>{
                this.$message.info('取消删除!')
            })

        }
    }

}
</script>

<style lang="less" scoped>
.el-tag {
    margin: 7px;
}  
.bdtop {
    border-top: 1px solid #eee;
} 

.bdbottom {
    border-bottom: 1px solid #eee;
}

.vcenter {
    display:flex;
    align-items: center;
}

</style>