<template>
  <el-breadcrumb>
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>{{secondTitle}}</el-breadcrumb-item>
    <el-breadcrumb-item>{{thirdTitle}}</el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
export default {
  data () {
    return {

    }
  },
//   props:["secondTitle","thirdTitle"],
  props: {
      secondTitle: {
          type:String
      },
      thirdTitle: {
          type:String
      }
  }
}
</script>

<style>

</style>
