<template>
    <div>
        <BreadCrumb secondTitle="订单管理" thirdTitle="订单列表"></BreadCrumb>
        <el-card>
            <el-tabs v-model="active">
                <el-tab-pane label="当前订单" name="present">
                    <el-row>
                        <el-col :span="8">
                            <el-input placeholder="请输入内容" >
                                <el-button slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </el-col>
                    </el-row>
                    <el-table :data="orderlist" border stripe>
                        <el-table-column type="index" label="#"></el-table-column>
                        <el-table-column prop="order_number" label="订单编号"></el-table-column>
                        <el-table-column prop="order_price" label="订单价格"></el-table-column>
                        <el-table-column prop="pay_status" label="是否付款">
                            <template slot-scope="scope">
                                <!-- {{scope.row.pay_status - 0 ? '是' : '否'}} -->
                                <el-tag v-if="scope.row.pay_status === '0'" type="danger">未付款</el-tag>
                                <el-tag v-else type="success">已付款</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column  label="订单状态">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.pay_status === '0'" type="danger">准备中</el-tag>
                                <el-tag v-else type="success">待取货</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="create_time" label="下单时间">
                            <template slot-scope="scope">
                                {{scope.row.create_time|dateFormat}}
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" icon="el-icon-search" @click="showBox(scope.row)">详情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!-- 分页区 -->
                    <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="queryInfo.pagenum"
                    :page-sizes="[10, 15, 20]"
                    :page-size="queryInfo.pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total"
                    background>
                    </el-pagination>
                </el-tab-pane>

                <el-tab-pane label="历史订单" name="history">
                    <el-row>
                        <el-col :span="8">
                            <el-input placeholder="请输入内容" >
                                <el-button slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </el-col>
                    </el-row>
                    <el-table :data="historylist" border stripe>
                        <el-table-column type="index" label="#"></el-table-column>
                        <el-table-column prop="order_number" label="订单编号"></el-table-column>
                        <el-table-column prop="order_price" label="订单价格"></el-table-column>
                        <el-table-column prop="pay_status" label="是否付款">
                            <template slot-scope="scope">
                                <!-- {{scope.row.pay_status - 0 ? '是' : '否'}} -->
                                <el-tag v-if="scope.row.pay_status === '0'" type="danger">未付款</el-tag>
                                <el-tag v-else type="success">已付款</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column  label="订单状态">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.pay_status === '0'" type="danger">准备中</el-tag>
                                <el-tag v-else type="success">待取货</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="create_time" label="下单时间">
                            <template slot-scope="scope">
                                {{scope.row.create_time|dateFormat}}
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" icon="el-icon-search" @click="showBox(scope.row)">详情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!-- 分页区 -->
                    <el-pagination
                    @size-change="sizeChange"
                    @current-change="currentChange"
                    :current-page="queryHisInfo.pagenum"
                    :page-sizes="[10, 15, 20]"
                    :page-size="queryHisInfo.pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total"
                    background>
                    </el-pagination>
                </el-tab-pane>
            </el-tabs>
        </el-card>

        <!-- 查看/修改订单状态 -->
        <el-dialog
        title="订单详情"
        :visible.sync="orderVisible"
        width="50%"
        center>
        <div style="width:100%">
            <!-- <h4 class="goods_number">
                订单编号：12345
            </h4> -->
            <el-table :data="goodsList">
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column prop="goods_name" label="商品名称"></el-table-column>
                <el-table-column prop="goods_price" label="商品价格"></el-table-column>
            </el-table>
            <h4 style="text-align:center">
                总价：133 ¥
            </h4>
            <div class="status">
                <el-radio v-model="orderStatus" label="0">准备中</el-radio>
                <el-radio v-model="orderStatus" label="2">待取货</el-radio>
            </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="orderVisible = false">取 消</el-button>
                <el-button type="primary" @click="modifyStatus">修 改</el-button>
            </span>
        
        </el-dialog>
    </div>
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb"
export default {
    data() {
        return {
            queryInfo:{
                query:'',
                pagenum:1,
                pagesize:10
            },
            queryHisInfo: {
                query:'',
                pagenum:1,
                pagesize:10
            },
            active: 'present',
            orderStatus: '0', // 0 准备中 1 已收货  2 待取货
            orderlist:[],
            historylist:[],
            total:0,
            histotal:0,
            orderVisible:false,
            goodsList:[]
        }
    },
    created() {
        this.getOrderList()
        this.getHistoryList()
    },
    methods:{
        async getOrderList() {
            const { data:res} = await this.$axios.get('orders',{
                params:this.queryInfo
            })
            if(res.meta.status !== 200) return this.$message.error('获取订单列表失败!')
            this.total = res.data.total,
            this.orderlist = res.data.goods
        },
        async getHistoryList() {
            const { data:res} = await this.$axios.get('orders',{
                params:this.queryHisInfo
            })
            if(res.meta.status !== 200) return this.$message.error('获取订单列表失败!')
            this.histotal = res.data.total,
            this.historylist = res.data.goods
        },
        handleSizeChange(newsize) {
            this.queryInfo.pagesize = newsize
            this.getOrderList()
        },
        handleCurrentChange(newpage) {
            this.queryInfo.pagenum = newpage
            this.getOrderList()
        },
        sizeChange(newsize) {
            this.queryHisInfo.pagesize = newsize
            this.getHistoryList()
        },
        currentChange(newpage) {
            this.queryHisInfo.pagenum = newpage
            this.getHistoryList()
        },
        modifyStatus() {
            this.orderVisible = false
        },
        showBox(goods) {
            this.goodsList = [
                {
                    goods_name: '香蕉',
                    goods_price: 5
                },
                {
                    goods_name: '香蕉',
                    goods_price: 5
                },
                {
                    goods_name: '香蕉',
                    goods_price: 5
                },
                {
                    goods_name: '香蕉',
                    goods_price: 5
                },
            ]
            this.orderVisible = true
        },

    },
    components: {
        BreadCrumb
    }

}
</script>

<style lang="less" >
.el-tabs__nav-scroll{
    display: flex!important;
    justify-content: center!important;
}
.status {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.el-pagination {
    margin-top: 15px;
}
.el-cascader {
    width: 100%;
}
</style>