<template>
  <div>
        <BreadCrumb secondTitle="用户管理" thirdTitle="用户列表"></BreadCrumb>
        <!-- <el-breadcrumb>
            <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb> -->
        <el-card>
            <el-row :gutter="20">
                <el-col :span = "10">
                    <el-input placeholder="请输入内容" v-model="queryInfo.query" clearable @clear="getUserList"> 
                        <el-button slot="append" icon="el-icon-search" @click="getUserList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span = "4">
                    <!-- 添加用户按钮 -->
                    <el-button type="primary" @click="addDialogVisible = true">添加用户</el-button>
                </el-col>
            </el-row>
            <el-table :data = "userlist" stripe border>
                <el-table-column type = "index"  label="#"></el-table-column>
                <el-table-column
                prop="username"
                label="姓名"
                >
                </el-table-column>
                <el-table-column
                prop="email"
                label="邮箱"
                >
                </el-table-column>
                <el-table-column
                prop="mobile"
                label="电话">
                </el-table-column>
                <el-table-column
                prop="role_name"
                label="角色">
                </el-table-column>
                <el-table-column
                prop="mg_state"
                label="状态">
                  <template slot-scope="scope">
                      <el-switch v-model="scope.row.mg_state" @change="userStateChanged(scope.row)"></el-switch>
                  </template>
                </el-table-column>
                <el-table-column
                label="操作"
                width="180">
                  <template slot-scope="scope">
                      <!-- 修改按钮 -->
                      <el-tooltip effect="dark" content="修改用户" placement="top">
                        <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditDialog(scope.row.id)"></el-button>
                      </el-tooltip>
                      <!-- 删除按钮 -->
                      <el-tooltip effect="dark" content="删除用户" placement="top">
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeUserById(scope.row.id)"></el-button>
                      </el-tooltip>
                      <!-- 分配按钮 -->
                      <el-tooltip effect="dark" content="分配角色" placement="top">
                        <el-button type="warning" icon="el-icon-setting" size="mini" @click="setRole(scope.row)"></el-button>
                      </el-tooltip>
                  </template>
                </el-table-column>
            </el-table>

            <!-- 分页组件 -->
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="queryInfo.pagenum"
            :page-sizes="[1, 2, 5, 10]" :page-size="queryInfo.pagesize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>

            <!-- 添加用户的对话框 -->
            <el-dialog title="添加用户" :visible.sync="addDialogVisible" width="50%" @close="addDialogClosed">
              <el-form ref="addFormRef" :model="addForm" :rules="addFormRules" label-width="70px">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="addForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="addForm.password"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="addForm.email"></el-input>
                </el-form-item>
                <el-form-item label="手机" prop="mobile">
                    <el-input v-model="addForm.mobile"></el-input>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
              <el-button @click="addDialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="addUser">确 定</el-button>
              </span>
            </el-dialog>

            <!-- 修改用户对话框 -->
            <el-dialog title="修改用户" :visible.sync="editDialogVisible" width="50%"  @close="editDialogClosed">
                <el-form ref="editFormRef" :model="editForm" :rules="editFormRules" label-width="70px">
                    <el-form-item label="用户名">
                      <el-input v-model="editForm.username" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱" prop="email">
                      <el-input v-model="editForm.email"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" prop="mobile">
                      <el-input v-model="editForm.mobile"></el-input>
                    </el-form-item>
                </el-form> 
                <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editUser">确 定</el-button>
                </span>
            </el-dialog>

            <!-- 分配角色对话框 -->
            <el-dialog title="提示" :visible.sync="setRoleDialogVisible" width="50%"  @close="setRoleDialogClosed">
                <div>
                    <p>当前用户:{{userInfo.username}}</p>
                    <p>当前角色:{{userInfo.role_name}}</p>
                    <p>分配新角色:
                         <el-select v-model="selectedRoleId" placeholder="请选择">
                            <el-option
                            v-for="item in rolesList"
                            :key="item.id"
                            :label="item.roleName"
                            :value="item.id">
                            </el-option>
                         </el-select>
                    </p>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="saveRoleInfo">确 定</el-button>
                </span>
            </el-dialog>
        </el-card>
  </div>
</template>

<script>
import BreadCrumb from '../../components/BreadCrumb'
export default {
    data() {
      return {
        //获取用户列表的参数
        queryInfo: {
            query: '',
            pagenum: 1,
            pagesize: 2
        },
        userlist:[],
        total:0,
        //控制对话框的显示与隐藏
        addDialogVisible:false,
        //控制修改对话框的现实与隐藏
        editDialogVisible:false,
        // 添加用户的表单数据
        addForm: {
            username: '',
            password: '',
            email: '',
            mobile: ''
        },
        //查询到的用户信息
        editForm: {
        },
        // 添加用户的表单验证规则对象
        addFormRules:{
            username:[
                { required:true, message:'请输入用户名', trigger:'blur'},
                { min:3, max:10 ,message:'用户名在3-10字符之间', trigger:'blur'}
            ],
            password:[
                { required:true, message:'请输入密码', trigger:'blur'},
                { min:3, max:10 ,message:'用户名在6-15字符之间', trigger:'blur'}
            ],
            email:[
                { required:true, message:'请输入邮箱地址', trigger:'blur'},
            ],
            mobile:[
                { required:true, message:'请输入手机号', trigger:'blur'},
            ]
        },
        // 修改用户的表单验证规则对象
        editFormRules:{
            email:[
                { required:true, message:'请输入邮箱地址', trigger:'blur'},
            ],
            mobile:[
                { required:true, message:'请输入手机号', trigger:'blur'},
            ]
        },
        //控制分配角色对话框的显示/隐藏
        setRoleDialogVisible:false,
        //需要被分配角色的用户信息
        userInfo:{
            username:'',
            role_name:''
        },
        user:{
            username:'11',
            role_name:'精英'
        },
        //角色数据列表
        rolesList:[],
        selectedRoleId:''
      }
    },
    created () {
        this.getUserList()
    },
    components: {
        BreadCrumb
    },
    methods: {
        async getUserList() {
            const {data:res} = await this.$axios.get('users',{params:this.queryInfo})
            if(res.meta.status != 200) return this.$message.error(res.meta.msg)
            console.log(res)
            this.userlist = res.data.users
            this.total = res.data.total

        },
        async showEditDialog(id) {
            const { data:res } = await this.$axios.get('users/' + id)
            if(res.meta.status != 200) return this.$message.error('查询用户信息失败')
            this.editForm = res.data
            this.editDialogVisible = !this.editDialogVisible
        },
        handleSizeChange(newSize) {
            this.queryInfo.pagesize = newSize
            this.getUserList()

        },
        handleCurrentChange(newPage) {
            this.queryInfo.pagenum = newPage
            this.getUserList()
        },
        //根据id删除用户
        removeUserById(id) {
            this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                const { data:res } = await this.$axios.delete('users/' + id)
                if( res.meta.status != 200) return this.$message.error('删除失败!')
                this.$message.success('删除成功!')
                this.getUserList()
            }).catch(() => {
                this.$message.info('取消删除')
            })
        },
        //监听switch状态的改变
        async userStateChanged(userinfo) {
            const {data:res} = await this.$axios.put(`users/${userinfo.id}/state/${userinfo.mg_state}`)
            if(res.meta.status != 200) {
                userinfo.mg_state = !userinfo.mg_state
                return this.$message.error('更新用户状态失败!')
            }
            this.$message.success('更新用户状态成功!')
        },
        // 监听添加用户对话框关闭事件
        addDialogClosed() {
            this.$refs.addFormRef.resetFields()
        },
        // 添加用户
        addUser() {
            this.$refs.addFormRef.validate( async valid => {
                if(!valid) return
                //发起添加请求
                const { data:res } = await this.$axios.post('users',this.addForm)
                if(res.meta.status != 201) return this.$message.error('添加用户失败!')
                this.$message.success('添加用户成功!')
                // 隐藏添加用户对话框
                this.addDialogVisible = false
                //刷新用户列表
                this.getUserList()
            })
        },
        //修改用户
        editUser() {
            this.$refs.editFormRef.validate( async valid => {
                if(!valid) return
                const { data:res } = await this.$axios.put('users/' + this.editForm.id,{ 
                    email:this.editForm.email,
                    mobile:this.editForm.mobile })
                if(res.meta.status != 200) return this.$message.error("更新用户信息失败!")
                this.$message.success("更新用户信息成功!")
                this.editDialogVisible = false
                this.getUserList()
            })
        },
        editDialogClosed() {
            this.$refs.editFormRef.resetFields()
        },
        //展示分配角色对话框
        async setRole(userInfo) {
            this.userInfo = userInfo

            //在展示对话框前获取所有角色列表
            const { data:res} = await this.$axios.get('roles')
            if(res.meta.status !== 200) return this.$message.error('获取角色列表失败!')
            this.rolesList = res.data
            this.setRoleDialogVisible = true
        },
        //点击按钮，分配角色
        async saveRoleInfo() {
            if(!this.selectedRoleId) {
                return this.$message.info('请选择新的角色')
            }
            const { data:res } = await this.$axios.put(`users/${this.userInfo.id}/role`,
            {
                rid:this.selectedRoleId
            })
            if(res.meta.status !==200) return this.$message.error('更新角色失败!')
            this.$message.success('更新角色成功!')
            this.getUserList()
            this.setRoleDialogVisible = false
        },
        setRoleDialogClosed() {
            this.selectedRoleId = ''
            this.userInfo = {}
        }

    }

}
</script>

<style lang = "less" scoped>
.el-pagination {
    margin-top: 15px;
}
</style>